<h1 class="text-center">All Students</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Contact</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of Users; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.contact }}</td>
      <td>
        <button
          routerLink="/update-user/{{ user.id }}"
          class="btn btn-primary btn-sm"
        >
          Edit
        </button>
        &nbsp;
        <button
          routerLink="/user-info/{{ user.id }}"
          class="btn btn-primary btn-sm"
        >
          More Info
        </button>
        &nbsp;
        <button
          routerLink="/show-user-qr/{{ user.id }}"
          (click)="createCode(user)"
          class="btn btn-primary btn-sm"
        >
          Get QR Code
        </button>
        &nbsp;
        <button (click)="removeUser(user)" class="btn btn-danger btn-sm">
          Delete
        </button>
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>
